
main{
    font-family: $font2;
    max-width: 1300px;
    margin: 0 auto 30px;
    background: $white1;
    img{
        width: 50%;
    }

    .section1{
        width: 85%;
        margin: 0 auto;

        span{
            padding: 70px 0;
            position: relative;
            display: block;

            &::before, &::after {
                content: "";
                position: absolute;
                background: $grey1;
                height: 1px;
                width: 37%;
                top: 50%;
                transform: translateY(-50%);

                @media screen and (max-width : 700px) {
                    width: 30%;
                }

                @media screen and (max-width : 400px) {
                    width: 22%;
                }
            }
            &::before{
                left: 0;
            }
            &::after{
                right: 0;
            }
        }

        h1{
            @include title;
            font-size: 3rem;
        }
        p{
            width: 60%;
            margin: 30px auto;
            font-size: .8rem;
            line-height: 30px;
            font-style: italic;
        }

        img{
            width: 100%;
            padding: 30px 0;
        }

        .btn{
            margin: 20px 0 100px;
            
        }

    }
    
    .section2{
        display: grid;
        grid-template-columns: 50% 50%;
        border-top: 1px solid $grey1;

        .left-part,
        .rigth-part{
            padding: 60px;

        }
        img{
            width: 100%;
        }
        span{
            font-size: .75rem ;
        }
        h2{
            @include title;
            margin: 20px 0;
            // line-height: 28px;
            // padding: 20px 0;
        }
        p{
            text-align: left;
            // padding: 60px;
            line-height: 35px;
            margin: 40px 0
        }
        .left-part{
            border-right: 1px solid $grey1;
        }


    }
}